@import './var.scss';

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: $--main-font-family;
}

// .container{
//     max-width: 1024px;
//     margin: 0 auto;
// }